@page
@model FPTBooking.WebAdmin.Pages.User.IndexModel
@{
}

@section head {

    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <style>
        [class*=icheck-] > label {
            padding-left: 0 !important;
        }
    </style>
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@Model.Info.Title</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="@Routing.DASHBOARD">Dashboard</a></li>
                    <li class="breadcrumb-item active">@Model.Info.Title</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-12">
            <form id="form-create-user">
                <div class="card card-default collapsed collapsed-card">
                    <div class="card-header clickable" data-card-widget="collapse">
                        <h3 class="card-title">
                            <i class="fa fa-user-circle text-black-50 mr-1"></i>
                            Create user
                        </h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-plus"></i></button>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="form-group w-50">
                            <label>Full name</label>
                            <input type="text" name="full_name" class="form-control" placeholder="Enter user full name">
                        </div>
                        <div class="form-group w-50">
                            <label>Department</label>
                            <select class="form-control select2" name="department_code">
                                <option value="">--- Not selected ---</option>
                            </select>
                        </div>
                        <div class="form-group w-50">
                            <div class="icheck-primary">
                                <label for="is-manager" class="pr-2">
                                    Is manager
                                </label>
                                <input type="checkbox" id="is-manager" name="is_manager" value="true">
                            </div>
                        </div>
                        <div class="form-group w-50">
                            <label>Email</label>
                            <input type="text" name="email" class="form-control" placeholder="Enter user email">
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-primary float-right">
                            <i class="fa fa-plus mr-2"></i>SUBMIT
                        </button>
                    </div>
                </div>
            </form>
            <!-- /.card -->

            <div class="card">
                <div class="card-body">
                    <table id="tbl-main" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th></th>
                                <th>No</th>
                                <th class="sortable">Full name</th>
                                <th class="sortable">Department</th>
                                <th class="sortable">Email</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th></th>
                                <th>No</th>
                                <th>Full name</th>
                                <th>Department</th>
                                <th>Email</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->

@section scripts {

    <!-- jquery-validation -->
    <script src="/plugins/jquery-validation/jquery.validate.min.js"></script>
    <script src="/plugins/jquery-validation/additional-methods.min.js"></script>
    <!-- DataTables -->
    <script src="/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <!-- Select2 -->
    <script src="/plugins/select2/js/select2.full.min.js"></script>
    <!-- page script -->
    <script>
        let tblMain;
        $(function () {
            tblMain = $("#tbl-main").DataTable({
                responsive: true,
                autoWidth: false,
                columnDefs: [
                    {
                        targets: [2, 3, 4], orderable: true, searchable: true
                    },
                    { targets: "_all", orderable: false, searchable: false },
                ],
                order: [[4, 'asc']]
            });
            tblMain._mustDrawNo = true;
            tblMain.on('draw', onTableChange);
            tblMain.on('length', onTableChange);
            tblMain.on('page', onTableChange);
            tblMain.on('search', onTableChange);
            tblMain.on('order', onTableChange);

            $('#form-create-user').validate({
                submitHandler: confirmSubmitCreateUser,
                rules: {
                    full_name: {
                        required: true,
                    },
                    department_code: {
                        required: true,
                    },
                    email: {
                        required: true,
                    }
                },
                messages: {
                    full_name: {
                        required: "Please enter user full name",
                    },
                    department_code: {
                        required: "Please choose a department",
                    },
                    email: {
                        required: "Please enter user email",
                    },
                },
                errorElement: 'span',
                errorPlacement: function (error, element) {
                    error.addClass('invalid-feedback');
                    element.closest('.form-group').append(error);
                },
                highlight: function (element, errorClass, validClass) {
                    $(element).addClass('is-invalid');
                },
                unhighlight: function (element, errorClass, validClass) {
                    $(element).removeClass('is-invalid');
                }
            });

            getData();
            getDepartment();
            $('.select2').select2();
        });

        function onTableChange() {
            if (tblMain._mustDrawNo) {
                tblMain._mustDrawNo = false;
                let no = 1;
                tblMain.rows().every((r) => {
                    const data = tblMain.row(r).data();
                    data[1] = no++;
                    tblMain.row(r).data(data);
                });
            } else tblMain._mustDrawNo = true;
        }

        function getData() {
            changeLoading(true);
            const data = {};
            data.culture = '@CultureHelper.CurrentLang';
            data.load_all = true;
            data.fields = '@MemberQueryProjection.INFO,@MemberQueryProjection.DEPARTMENT';
            $.ajax({
                url: '/@ApiEndpoint.MEMBER_API',
                type: 'get',
                data: data,
                success: (respData) => {
                    console.log(respData);
                    let data = respData.data.list;
                    processData(data);
                },
                error: (data) => {
                    handleGeneralError(data);
                },
                complete: () => {
                    changeLoading(false);
                }
            });
        }

        function processData(data) {
            tblMain.clear();
            var btn = (id) =>
                "<div class=\"dropdown\">" +
                    "<button class=\"btn btn-primary dropdown-toggle btn-sm\"" +
                        "type=\"button\" id=\"btn-dropdown\" data-toggle=\"dropdown\" aria-haspopup=\"true\" aria-expanded=\"false\">" +
                        "<i class=\"fa fa-list\"></i>" +
                    "</button>" +
                    "<div class=\"dropdown-menu\" aria-labelledby=\"btn-dropdown\">" +
                        "<a class=\"dropdown-item\" href=\"" + "#".replace('{id}', id) + "\"><i class=\"fa fa-info-circle dropdown-item-icon\"></i>Detail</a>" +
                        "<button class=\"dropdown-item\" onclick=\"confirmRemove(" + id + ")\"><i class=\"fa fa-trash dropdown-item-icon\"></i>Remove</button>" +
                    "</div>" +
                "</div>";
            for (var i = 0; i < data.length; i++) {
                const obj = data[i];
                var deps = obj.departments.map(o => o.name + ' - ' + (o.is_manager ? 'Manager' : 'Member'))
                    .join('<br/>');
                tblMain.row.add([
                    btn(obj.id),
                    null,
                    obj.full_name,
                    deps,
                    obj.email
                ]);
            }
            tblMain.draw();
        }

        function confirmRemove(id) {
            confirmAlert().then((result) => {
                if (result.value)
                    submitRemove(id);
            });
        }

        function submitRemove(id) {
            changeLoading(true);
            $.ajax({
                url: '/@ApiEndpoint.MEMBER_API/' + id,
                type: 'delete',
                success: (data) => {
                    successAlert("Delete successfully").then(getData);
                },
                error: (data) => {
                    handleGeneralError(data);
                },
                complete: () => {
                    changeLoading(false);
                }
            });
        }

        //get department
        function getDepartment() {
            const data = {};
            data.culture = '@CultureHelper.CurrentLang';
            data.load_all = true;
            $.ajax({
                url: '/@ApiEndpoint.DEPARTMENT_API',
                type: 'get',
                data: data,
                success: (respData) => {
                    console.log(respData);
                    let data = respData.data.list;
                    processDepartmentData(data);
                },
                error: (data) => {
                    handleGeneralError(data);
                },
                complete: () => {
                    changeLoading(false);
                }
            });
        }

        function processDepartmentData(data) {
            var form = $('#form-create-user');
            var depSelect = form.find('select[name=department_code]');
            for (var i = 0; i < data.length; i++) {
                const obj = data[i];
                depSelect.append(
                    $('<option value="' + obj.code + '">').append(obj.name)
                );
            }
            depSelect.select2();
        }

        function confirmSubmitCreateUser() {
            confirmAlert().then((result) => {
                if (result.value)
                    submitCreateUser();
            });
        }

        function submitCreateUser() {
            const model = {};
            model.full_name = $('[name=full_name]').val();
            model.department_code = $('[name=department_code]').val();
            model.is_manager = $('[name=is_manager]').val();
            model.email = $('[name=email]').val();

            changeLoading(true);
            $.ajax({
                url: '/@ApiEndpoint.MEMBER_API',
                type: 'post',
                contentType: 'application/json',
                data: JSON.stringify(model),
                success: (respData) => {
                    successAlert("Create successfully").then(() => {
                        getData();
                    });
                },
                error: (resp) => {
                    handleGeneralError(resp);
                },
                complete: () => {
                    changeLoading(false);
                }
            });
        }
    </script>
}

