@page
@model FPTBooking.WebAdmin.Pages.User.IndexModel
@{
}

@section head {
    <!-- Select2 -->
    <link rel="stylesheet" href="/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@Model.Info.Title</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="@Routing.DASHBOARD">Dashboard</a></li>
                    <li class="breadcrumb-item active">@Model.Info.Title</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <a href="#" class="btn btn-primary float-right">
                        <i class="fa fa-plus"></i>
                    </a>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="tbl-main" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th></th>
                                <th>No</th>
                                <th class="sortable">Full name</th>
                                <th class="sortable">Department</th>
                                <th class="sortable">Email</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th></th>
                                <th>No</th>
                                <th>Full name</th>
                                <th>Department</th>
                                <th>Email</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->

@section scripts {

    <!-- DataTables -->
    <script src="/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <!-- Select2 -->
    <script src="/plugins/select2/js/select2.full.min.js"></script>
    <!-- page script -->
    <script>
        let tblMain;
        $(function () {
            tblMain = $("#tbl-main").DataTable({
                responsive: true,
                autoWidth: false,
                columnDefs: [
                    {
                        targets: [2, 3, 4], orderable: true, searchable: true
                    },
                    { targets: "_all", orderable: false, searchable: false },
                ],
                order: [[4, 'asc']]
            });
            tblMain._mustDrawNo = true;
            tblMain.on('draw', onTableChange);
            tblMain.on('length', onTableChange);
            tblMain.on('page', onTableChange);
            tblMain.on('search', onTableChange);
            tblMain.on('order', onTableChange);
            getData();
            $('.select2').select2();
        });

        function onTableChange() {
            if (tblMain._mustDrawNo) {
                tblMain._mustDrawNo = false;
                let no = 1;
                tblMain.rows().every((r) => {
                    const data = tblMain.row(r).data();
                    data[1] = no++;
                    tblMain.row(r).data(data);
                });
            } else tblMain._mustDrawNo = true;
        }

        function getData() {
            changeLoading(true);
            const data = {};
            data.culture = '@CultureHelper.CurrentLang';
            data.load_all = true;
            data.fields = '@MemberQueryProjection.INFO,@MemberQueryProjection.DEPARTMENT';
            $.ajax({
                url: '/@ApiEndpoint.MEMBER_API',
                type: 'get',
                data: data,
                success: (respData) => {
                    console.log(respData);
                    let data = respData.data.list;
                    processData(data);
                },
                error: (data) => {
                    handleGeneralError(data);
                },
                complete: () => {
                    changeLoading(false);
                }
            });
        }

        function processData(data) {
            tblMain.clear();
            var btn = (id) =>
                "<div class=\"dropdown\">" +
                    "<button class=\"btn btn-primary dropdown-toggle btn-sm\"" +
                        "type=\"button\" id=\"btn-dropdown\" data-toggle=\"dropdown\" aria-haspopup=\"true\" aria-expanded=\"false\">" +
                        "<i class=\"fa fa-list\"></i>" +
                    "</button>" +
                    "<div class=\"dropdown-menu\" aria-labelledby=\"btn-dropdown\">" +
                        "<a class=\"dropdown-item\" href=\"" + "#".replace('{id}', id) + "\"><i class=\"fa fa-info-circle dropdown-item-icon\"></i>Detail</a>" +
                        "<button class=\"dropdown-item\" onclick=\"confirmRemove(" + id + ")\"><i class=\"fa fa-trash dropdown-item-icon\"></i>Remove</button>" +
                    "</div>" +
                "</div>";
            for (var i = 0; i < data.length; i++) {
                const obj = data[i];
                var deps = obj.departments.map(o => o.name + ' - ' + (o.is_manager ? 'Manager' : 'Member'))
                    .join('<br/>');
                tblMain.row.add([
                    btn(obj.id),
                    null,
                    obj.full_name,
                    deps,
                    obj.email
                ]);
            }
            tblMain.draw();
        }

        function confirmRemove(id) {
            confirmAlert().then((result) => {
                if (result.value)
                    submitRemove(id);
            });
        }

        function submitRemove(id) {
            changeLoading(true);
            $.ajax({
                url: '/@ApiEndpoint.MEMBER_API/' + id,
                type: 'delete',
                success: (data) => {
                    successAlert("Delete successfully").then(getData);
                },
                error: (data) => {
                    handleGeneralError(data);
                },
                complete: () => {
                    changeLoading(false);
                }
            });
        }

    </script>
}

