@page
@model FPTBooking.WebAdmin.Pages.Room.IndexModel
@{
}

@section head {

    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Select2 -->
    <link rel="stylesheet" href="/plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <style>
        [class*=icheck-] > label {
            padding-left: 0 !important;
            line-height: unset !important;
        }
    </style>
}

<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>@Model.Info.Title</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="@Routing.DASHBOARD">Dashboard</a></li>
                    <li class="breadcrumb-item active">@Model.Info.Title</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <button class="btn btn-primary float-right" onclick="syncWithFap()">
                        <i class="fa fa-download mr-1"></i> Sync with FAP
                    </button>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table id="tbl-main" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th></th>
                                <th class="sortable">Code</th>
                                <th class="sortable">Area</th>
                                <th class="sortable">Room type</th>
                                <th class="sortable">Available</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                        <tfoot>
                            <tr>
                                <th></th>
                                <th>Code</th>
                                <th>Area</th>
                                <th>Room type</th>
                                <th>Available</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->

@section scripts {

    <!-- iCheck -->
    <script src="~/plugins/icheck/icheck.min.js"></script>
    <!-- jquery-validation -->
    <script src="/plugins/jquery-validation/jquery.validate.min.js"></script>
    <script src="/plugins/jquery-validation/additional-methods.min.js"></script>
    <!-- DataTables -->
    <script src="/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <!-- Select2 -->
    <script src="/plugins/select2/js/select2.full.min.js"></script>
    <!-- page script -->
    <script>
        let tblMain;
        let roomData = [];
        $(function () {
            tblMain = $("#tbl-main").DataTable({
                responsive: true,
                autoWidth: false,
                columnDefs: [
                    {
                        targets: [1, 2, 3, 4], orderable: true, searchable: true
                    },
                    { targets: "_all", orderable: false, searchable: false },
                ],
                order: [[1, 'asc']]
            });
            getData();
            $('.select2').select2();
        });

        function getData() {
            changeLoading(true);
            const data = {};
            data.culture = '@CultureHelper.CurrentLang';
            data.load_all = true;
            data.fields = '@RoomQueryProjection.INFO,@RoomQueryProjection.AREA,' +
                '@RoomQueryProjection.DEPARTMENT,@RoomQueryProjection.ROOM_TYPE';
            $.ajax({
                url: '/@ApiEndpoint.ROOM_API',
                type: 'get',
                data: data,
                success: (respData) => {
                    console.log(respData);
                    let data = respData.data.list;
                    roomData = data;
                    processData(data);
                },
                error: (data) => {
                    handleGeneralError(data);
                },
                complete: () => {
                    changeLoading(false);
                }
            });
        }

        function processData(data) {
            tblMain.clear();
            var btn = (code) =>
                "<div>" +
                    "<button class=\"btn btn-primary btn-sm\" type=\"button\" onclick=\"showEditModal(" + code + ")\">" +
                        "<i class=\"fa fa-pen mr-1\"></i> Edit" +
                    "</button>" +
                    "<button class=\"btn btn-danger btn-sm ml-2\" type=\"button\" onclick=\"confirmRemove(" + code + ")\"><i class=\"fa fa-trash\"></i></button>" +
                "</div>";
            for (var i = 0; i < data.length; i++) {
                const obj = data[i];
                tblMain.row.add([
                    btn("'" + obj.code + "'"),
                    obj.code,
                    obj.area.name,
                    obj.room_type.name,
                    obj.is_available ? 'Yes' : 'No'
                ]);
            }
            tblMain.draw();
        }

        function confirmRemove(code) {
            confirmAlert().then((result) => {
                if (result.value)
                    submitRemove(code);
            });
        }

        function submitRemove(code) {
            changeLoading(true);
            $.ajax({
                url: '/@ApiEndpoint.ROOM_API/' + code,
                type: 'delete',
                success: (data) => {
                    successAlert("Delete successfully").then(getData);
                },
                error: (data) => {
                    handleGeneralError(data);
                },
                complete: () => {
                    changeLoading(false);
                }
            });
        }

        function syncWithFap() {
            changeLoading(true);
            $.ajax({
                url: '/@ApiEndpoint.ROOM_API/fap-sync',
                type: 'post',
                success: (data) => {
                    successAlert("Sync successfully").then(getData);
                },
                error: (data) => {
                    handleGeneralError(data);
                },
                complete: () => {
                    changeLoading(false);
                }
            });
        }

    </script>
}